body {
  animation: fadeIn ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  background-color: black;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  font-family: 'Calibri', 'Lato', sans-serif;
  height: 100vh;
  margin: 0;
  width: 100%;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.wrapper {
  display: grid;
  grid-template-areas:
    'navBar'
    'mainTitle'
    'imageBox'
    'textBox'
    'quickLinks';
  grid-template-columns: 100%;
  grid-template-rows: 5em clamp(5rem, 2.7500rem + 10.0000vw, 8rem) 1fr 5em 5em;;
  height: 100vh;
  width: 100%;
}

/* Navigation bar */
.navBar {
  align-items: end;
  animation: fadeIn ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  background: #004D00;
  display: flex;
  grid-area: navBar;
  height: 100%;
  justify-content: center;
  opacity: 0;
}

.headerNav {
  align-self: flex-end;
}
.headerNav ul {
  margin: 4px;
}
.headerNav li {
  display: inline-block;
  font-size: 1.2em;
  padding: 0 10px;
}
.headerNav a {
  font-size: 0.8em;
  font-weight: bold;
  text-decoration: none;
}
.navItem {
  color: white;
  font-size: 1em;
}
.navHighlight {
  background: white;
  color: black;
  font-size: 1em;
  font-weight: bold;
  padding: 1px 2px;
}

/* Main title area */
header, .mainTitle {
  animation: fadeIn ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  color: white;
  opacity: 0;
}
.mainTitle {
  align-items: center;
  justify-items: center;
  background-color: #008A00;
  display: grid;
  grid-area: mainTitle;
  grid-template-rows: 50% 20% 30%;;
}
.mainTitle h2, .mainTitle h1 {
  line-height: 0;
  white-space: nowrap;
}
.mainTitle h1 {
  font-size: clamp(2rem, 0.1250rem + 8.3333vw, 4.5rem);
}
.mainTitle h2 {
  font-size: clamp(1rem, 0.2500rem + 3.3333vw, 2rem);
  letter-spacing: clamp(0.5rem, 0.1250rem + 1.6667vw, 1rem);
  padding-left: 22px;
}
.dividerLine {
  width: 280px;
  border: white 2px solid;
}
.logo {
  height: 60px;
  padding-bottom: 10px;
}

.imageBox {
  grid-area: imageBox;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden
}
.imageBox img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%
}

.textBox {
  animation: fadeIn ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  background: #008A00;

  display: grid;
  align-items: center;
  justify-items: center;
  grid-area: textBox;
  opacity: 0;
  overflow: hidden;
  padding-left: 15%;
  padding-right: 15%;
  text-align: center;
}
.textBox h2, li {
  color: white;
  font-size: clamp(1rem, 0.2500rem + 3.3333vw, 1.5rem);
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
}
.textBox h2 {
  font-weight: normal;
}

.quickLinks {
  animation: fadeIn ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  background: #004D00;
  display: grid;
  grid-area: quickLinks;
  grid-column-gap: 30px;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  text-align: center;
}

.quickLinks a {
  color: white;
  text-decoration: none;
  text-shadow: black 1px 1px;
  font-size: clamp(0.8rem, 0.1250rem + 3.0000vw, 1.7rem);
}
.button {
   border-top: 2px solid #fdd336;
   border-right: 2px solid #fdd336;
   background: #ca9b05;
   padding: 10.5px 21px;
   -webkit-border-radius: 7px;
   -moz-border-radius: 7px;
   border-radius: 7px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   width: clamp(7rem, 1.0000rem + 26.6667vw, 15rem);
 }
.button:hover {
  border-top-color: #ca9b05;
  background: #fdd336;
}
.button:active {
  border-top-color: #ca9b05;
  background: #fdd336;
}
.upcomingEvents {
  justify-self: end;
}
.joinClub {
  justify-self: start;
}
