.wrapper {
  display: grid;
  grid-template-areas:
    'navBar'
    'mainTitle'
    'imageBox'
    'quickLinks';
  grid-template-columns: 100%;
  grid-template-rows: 5em clamp(5rem, 2.7500rem + 10.0000vw, 8rem) 1fr 5em;;
  height: 100vh;
  width: 100%;
}

.midSection {
  grid-area: imageBox;
  align-items: end;
  background-image: url("RelayStart2.jpg");
  background-position: center;
  background-size: cover;
  display: grid;
  grid-template-rows: 1fr 80px;
  justify-items: center;
  overflow: hidden
}

.textBox {
  grid-column: 1 / -1;
  align-items: start;
  grid-template-rows: 40px 40px 1fr;
  width: 100%;
}

.textBox h1 {
  color: white;
  font-size: clamp(1rem, 0.2500rem + 3.3333vw, 1.5rem);
  margin: 0;
  text-decoration: underline;
}

.expandableText {
  background-color: rgba(0,138,0,80%);
  max-height: 0px;
}
.expandableText a {
  color: black;
}

.expandButton {
  align-items: center;
  display: flex;
  height: 35px;
  justify-content: center;
  position: relative;
  width: 125%;
}
.expandButton>.collapse {
  display: none;
}
